/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainScreen {
  width: 100%;
  background-color: #1f1f1f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  background-color: #252222;
  color: #fff;
}

/* Login Page */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.logo {
  font-size: 32px;
  margin-bottom: 40px;
  color: #ff0044;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  max-width: 300px;
}

.login-form input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  color: #141414;
}

.login-form button {
  padding: 12px;
  background-color: #ff0044;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

/*Login End*/

/* Feed */
.top-bar {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  position: static;
}

/*POST START*/

.list_post {
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.post-card {
  width: fit-content;
  padding: 20px;
}

.post-card-comment-hide .Comment-Account{
  transition: 1s ease-in;
  display: none;
}


.account {
  width: fit-content;
  display: flex;
  align-items: center;
}

.account img {
  width: 80px;
  border-radius: 50%;
  margin: 10px;
}

.account p {
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post-image {
  width: 100%;
  width: 700px;
  border: 4px solid rgb(191, 32, 55);
  border-radius: 10px;
}

.post button{
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 1%;
}

.post-options{
  display: flex;
  justify-content: space-between;
}

.post-option{
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
  cursor: pointer;
}

.post-description-div-reduced p {
  max-width: 700px;
    max-height: 43px; /* altura inicial */
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;
  }

  .post-description-div-expand p{
    max-height: 500px; /* altura expandida */
    transition: max-height 0.3s ease;
    
  }

.Comment-Account{
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 350px;
  
}

.Comment-Account-Photo img{
  margin-top: 40px;
  width: 60px;
  border-radius: 50%;
}

.Comment-Account-Message{
  
}

/*POST END*/

.bottom-nav {
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  width: fit-content;
  padding: 40px;
  height: 100%;
  background: #1f1f1f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-nav:hover {
  transition: 0.5s;
  padding: 50px;

}

.bottom-nav a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}

/* Search & Messages */
.search-bar {
  padding: 15px;
  background-color: #1f1f1f;
  text-align: center;
}

.search-bar input {
  width: 90%;
  padding: 10px;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 8px;
}

.message-section {
  padding: 20px;
  height: 100vh;
}

.message {
  background: #222;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.messages-page {
  width: 100%;
  display: grid;
}

.no-visible{
  display: none;
}